.DS_Store
__pycache__/
.pycache/
*.pyc
.venv/
.idea/

data/raw/*
!data/raw/.gitkeep
data/labeled/*
!data/labeled/.gitkeep
data/split/train/*
!data/split/train/.gitkeep
data/split/val/*
!data/split/val/.gitkeep

models/*
!models/.gitkeep

outputs/predictions/*
!outputs/predictions/.gitkeep
outputs/reports/*
!outputs/reports/.gitkeep

logs/*
!logs/.gitkeep

backend/app/static/